<header>
    <div class="container">
        <div class="logo">
            <div class="icon-container">
                <img src="../../../../assets/comment-dots.svg" alt="">
            </div>
            <a routerLink="" class="logo-text">discuss</a>
        </div>
        <!-- <input type="text"> -->
        <nav>
            <ul>
                <li>
                    <a routerLink="">Login</a>
                </li>
                <li>
                    <a routerLink=""><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                            height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 9.5a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3z"
                                clip-rule="evenodd"></path>
                        </svg></a>
                </li>
            </ul>
        </nav>
    </div>
</header>