<div class="create-post-container">
    <h2>Create post</h2>

    <div class="post-type">
        <button class="type-button selected">Text</button>

        <button class="type-button">Image</button>

        <button class="type-button">Text & Image</button>

    </div>

    <form>

        <input type="text" placeholder="Discussion" class="invalid">
        <span>Please fill out this field.</span>

        <input type="text" placeholder="Title">
        <!-- <span>Please fill out this field.</span> -->

        <input type="text" placeholder="Image Url">
        <!-- <span>Please fill out this field.</span> -->

        <textarea name="" id="" placeholder="Body"></textarea>
        <!-- <span>Please fill out this field.</span> -->

        <div class="post-button-container">
            <button class="post">Post</button>
        </div>
    </form>
</div>