@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.container ul {
  list-style: none;
}

.container {
  display: flex;
  background-color: #0e1113;
  /* padding: 10px; */
  border-bottom: 1px solid rgba(218, 217, 217, 0.205);
  justify-content: space-between;
}

.logo {
  display: flex;
  cursor: pointer;
  padding: 10px;
  height: fit-content;
}

.logo:hover .icon-container {
  background-image: linear-gradient(
    to right bottom,
    #bb8fee,
    #a879df,
    #9664cf,
    #844fc0,
    #7139b1
  );
}

.icon-container {
  background-image: linear-gradient(
    to right bottom,
    #7139b1,
    #844fc0,
    #9664cf,
    #a879df,
    #bb8fee
  );
  padding: 10px;
  border-radius: 50%;
}

.icon-container img {
  height: 100%;
  width: 30px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.logo-text {
  text-decoration: none;
  align-self: center;
  color: white;
  font-family: "Jersey 25", sans-serif;
  font-size: 34px;
  margin-left: 7px;
}

nav ul {
  margin-right: 10px;
  display: flex;
}

nav ul li {
  margin: 0 10px 0 10px;
  align-self: center;
}

.login-button {
  background-color: #7139b1;
  border-radius: 10%;
  padding: 10px 15px;
  cursor: pointer;
  opacity: 100%;
}

.login-button:hover {
  opacity: 90%;
}

nav a {
  text-decoration: none;
  color: white;
}

.create-button {
  display: flex;
  color: white;
  align-items: center;
  cursor: pointer;
  height: 40px;
  padding: 0 15px 0 10px;
  border-radius: 20px;
  font-weight: 500;
}

.create-button p {
  font-size: 15px;
}

.create-button svg {
  margin-right: 5px;
}

.create-button:hover {
  background-color: #343d42;
}

.more-options {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-sizing: content-box;
  padding: 10px;
  margin: 0px;
  border-radius: 50%;
}

.more-options:hover {
  background-color: #343d42;
}

.input-container {
  height: fit-content;
  width: 600px;
  display: flex;
  position: relative;
  align-self: center;
  outline: none;
  background-color: #343d42a6;
  padding: 8px 10px;
  border-radius: 20px/50%;
}

.input-container svg {
  align-self: center;
  color: white;
}

.input {
  width: 550px;
  background: none;
  border: none;
  caret-color: white;
  color: #9ab0b6;
}

.input-container:hover {
  background-color: #343d42;
}

.input:active {
  background-color: #343d42;
}

.input:focus {
  outline: none;
}

.input:focus ~ .input-label {
  display: none;
}

.input-label {
  position: absolute;
  top: 12px;
  left: 36px;
  color: #9ab0b6;
  pointer-events: none;
  font-size: 14px;
}
