<div class="register-container">
    <div class="details">
        <h2>Register</h2>

        <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <div class="input-container">
                <label for="" class="input-label">Username</label>
                <div class="input-box">
                    <input formControlName="username" type="text" class="input">
                    <svg *ngIf="(isSubmitted && fc['username']?.errors)" class="error-icon" stroke="currentColor"
                        fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1.8em" width="1.8em"
                        xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path
                                d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5h2v2h-2v-2zm0-8h2v6h-2V7z">
                            </path>
                        </g>
                    </svg>
                </div>
                <ng-container *ngIf="(isSubmitted && fc['username']?.errors)">
                    <span *ngIf="fc['username']?.errors?.['required']">Please fill out this field.</span>
                    <span *ngIf="fc['username']?.errors?.['minlength']">Username must be atleast 4
                        characters!</span>
                </ng-container>
            </div>
            <div class="input-container">
                <label for="" class="input-label">Password</label>
                <div class="input-box">
                    <input formControlName="password" type="password" class="input">
                    <svg *ngIf="(isSubmitted && ((fc['confirmPassword']?.errors?.['required']) || (fc['password']?.errors?.['minlength'])))"
                        class="error-icon" stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 24 24" height="1.8em" width="1.8em" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path
                                d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5h2v2h-2v-2zm0-8h2v6h-2V7z">
                            </path>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="input-container">
                <label for="" class="input-label">Confirm Password</label>
                <div class="input-box">
                    <input formControlName="confirmPassword" type="password" class="input">
                    <svg *ngIf="(isSubmitted && ((fc['confirmPassword']?.errors?.['required']) || (fc['confirmPassword']?.errors?.['notMatch']) || (fc['password']?.errors?.['required']) || (fc['password']?.errors?.['minlength'])))"
                        class="error-icon" stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 24 24" height="1.8em" width="1.8em" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path
                                d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5h2v2h-2v-2zm0-8h2v6h-2V7z">
                            </path>
                        </g>
                    </svg>
                </div>
                <ng-container *ngIf="(isSubmitted && (fc['confirmPassword']?.errors || fc['password']?.errors))">
                    <span
                        *ngIf="(fc['confirmPassword']?.errors?.['required'] || fc['password']?.errors?.['required'])">Please
                        fill
                        out both
                        password fields.</span>
                    <span *ngIf="(fc['password']?.errors?.['minlength'])
                        && !(fc['confirmPassword']?.errors?.['required'] || fc['password']?.errors?.['required'])">Your
                        password must be
                        atleast 6 characters!</span>
                    <span
                        *ngIf="(fc['confirmPassword']?.errors?.['notMatch']) && !(fc['password']?.errors?.['minlength']) && !(fc['confirmPassword']?.errors?.['required'] || fc['password']?.errors?.['required'])">Please
                        confirm your
                        password!</span>
                </ng-container>
            </div>
            <div class="register">
                Already have an account?
                <a routerLink="/login" [queryParams]="{returnUrl: returnUrl}">Log In</a>
            </div>
            <button
                [ngClass]="{'disabled-button': isSubmitted && (fc['username'].errors || fc['password'].errors || fc['confirmPassword'].errors), 'disabled-button:hover': isSubmitted && (fc['username'].errors || fc['password'].errors || fc['confirmPassword'].errors)}">Register</button>
        </form>
    </div>
</div>