<div class="register-container">
    <div class="details">
        <h2>Register</h2>

        <form>
            <div class="input-container">
                <label for="" class="input-label">Email</label>
                <input type="email" class="input">
                <!-- <span>Please fill out this field.</span> -->
            </div>
            <div class="input-container">
                <label for="" class="input-label">Password</label>
                <input type="password" class="input">
            </div>
            <div class="input-container">
                <label for="" class="input-label">Confirm Password</label>
                <input type="password" class="input">
                <!-- <span>Please fill out this field.</span> -->
            </div>
            <div class="register">
                Already have an account?
                <a routerLink="/login">Log In</a>
            </div>
            <button>Log In</button>
        </form>
    </div>
</div>