.topic {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
  color: white;
  z-index: -1;
}

/* Banner */

.banner {
  display: flex;
  min-height: 120px;
  width: 780px;
  background-color: rgba(177, 177, 177, 0.192);
  border-radius: 10px;
}

.banner-image {
  height: 120px;
  width: 780px;
  object-fit: cover;
  border-radius: 10px;
}

/* Topic title */

.topic-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 25px;
}

.create-button {
  display: flex;
  color: white;
  align-items: center;
  cursor: pointer;
  height: 40px;
  border-radius: 20px;
  font-weight: 500;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.486);
}

.create-button p {
  font-size: 15px;
  font-weight: 400;
  padding-right: 10px;
}

.create-button svg {
  margin-right: 5px;
  padding-left: 5px;
}

.create-button:hover {
  border: 1px solid rgb(255, 255, 255);
}

/* Posts */

.images {
  position: relative;
  border: 1px solid rgba(177, 177, 177, 0.192);
  overflow: hidden;
  border-radius: 10px;
  height: 600px;
}

.blurred-image {
  width: 720px;
  height: 600px;
  filter: blur(80px) brightness(60%);
  -webkit-filter: blur(80px) brightness(60%);
  z-index: 0;
}

.main-image {
  max-width: 720px;
  height: 600px;
  position: absolute;
  z-index: 1;
  left: 130px;
}

.post-box {
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 5px;
}
.post-box:hover {
  cursor: pointer;
  background-color: #181c1f;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  list-style-type: none;
  padding-left: 10px;
}

.topic-box {
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 14px;
  color: #9ab0b6;
  margin-left: 5px;
}

.topic-box svg {
  font-size: 20px;
}

.topic-box p {
  font-weight: bold;
}

.topic-box p:hover {
  color: #7face0;
}

.topic-box span {
  font-weight: 300;
  font-size: 12px;
}

ul li h2 {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}

ul li {
  border-top: 1px solid rgba(218, 217, 217, 0.205);
  margin-bottom: 5px;
}

ul li .post-text {
  color: #9ab0b6;
  margin-left: 5px;
}

ul li .interact {
  display: flex;
  margin-top: 10px;
}

ul li .interact-box {
  display: flex;
  background-color: #363f44c5;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
}

ul li .interact-box span {
  margin: 0px 5px;
}

ul li .interact-box svg {
  font-size: 32px;
  padding: 5px;
}

.upvote:hover {
  color: rgb(255, 81, 0);
  cursor: pointer;
  border-radius: 50%;
  background-color: #363f44;
}

.downvote:hover {
  color: rgb(48, 97, 202);
  cursor: pointer;
  background-color: #363f44;
  border-radius: 50%;
}

ul li .comments-link {
  padding: 0 5px;
}

ul li .comments-link:hover {
  cursor: pointer;
  background-color: #363f44;
}

.no-posts {
  display: flex;
  max-width: 330px;
}

.icon-container {
  border: 3px solid;
  width: 55px;
  height: 55px;
  margin: auto;
  margin-left: 30px;
  border-radius: 50%;
  border-bottom-right-radius: 20%;
}

.no-posts-text h1 {
  font-size: 18px;
  font-weight: 500;
}

.no-posts-text h2 {
  font-size: 14px;
  font-weight: 300;
  color: #a7b2b9;
}
